@font-face {
    font-family:normal ;
    src: url('./0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2');
}
@font-face {
    font-family: bigger;
    src: url('./d513e15e-8f35-4129-ad05-481815e52625.woff2');
}
@font-face {
    font-family: bolder;
    src: url('./aee74cb3-c913-4b54-9722-6001c92325f2.woff2');
}